.btn {
  background: fixed
    linear-gradient(
      45deg,
      /* #6a5acd,
      #483d8b,
      indigo,
      #4169e1,
      purple,
      #4b0082,
      Turquoise */
        Indigo,
      rgb(131, 17, 131),
      blue,
      purple
    );
  background-size: 300% 300%;
  animation: color 10s linear infinite;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: "dancing";
  font-weight: 72;
  src: url(../../static/fonts/DancingScript-Bold.ttf);
}
.gradientText {
  font-family: "dancing";
  font-size: 200px;
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(
    135deg,
    indianred,
    blue,
    purple,
    darkcyan,
    mediumpurple,
    Rebeccapurple,
    midnightblue,
    Darkcyan
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 15s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
