@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: Indigo;
  --clr-2: purple;
  --clr-3: DarkBlue;
  --clr-4: rgb(126, 23, 40);
  --clr-5: DarkViolet;
}

.hero {
  display: inline-flex;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  color: white;
  padding: 50px;
  position: relative;
  box-sizing: border-box;
  /* height: 60vh;
  aspect-ratio: 1.5/ 1; */

  border-radius: 0.5rem;
  position: relative;
  background: linear-gradient(
    135deg,
    darkcyan,
    darkblue,
    Rebeccapurple,
    midnightblue,
    Darkcyan
  );

  background-size: 300% 300%;
  animation: color 20s linear infinite;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.hero::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.btn {
  background: linear-gradient(
    135deg,
    darkcyan,
    darkblue,
    Rebeccapurple,
    midnightblue,
    Darkcyan
  );

  background-size: 300% 300%;
  animation: color 20s linear infinite;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.content {
  z-index: 2;
  width: 100%;
  /* No need to set width to 100% if you want it to be constrained */
  /* Don't use position: fixed here, it's unnecessary */
}
@font-face {
  font-family: "dancing";
  font-weight: 100;
  src: url(../../static/fonts/DancingScript-Bold.ttf) format("truetype");
}
.text {
  font-family: "dancing";
  font-weight: 100px;
  letter-spacing: 1px;
  text-align: center;
  color: azure;
}
